@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 @apply bg-[#D9D9D9] bg-opacity-20; 
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.txt{
  @apply text-xl font-bold text-black;
}

.aa::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.aa {
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.title{
  @apply text-[17px] font-semibold;
}
.inputt{
  @apply ps-2 pt-1 pb-2 focus:outline-none bg-[#F4F5F7] w-full  rounded-md text-black;
}
.inputtt{
  @apply ps-8 pt-1 pb-2 focus:outline-none bg-[#F4F5F7] w-full  rounded-md text-black;
}
.labell{
  @apply flex hover:bg-gray-600 p-1 hover:bg-opacity-50 justify-start items-center gap-1;
}
.btn{
  @apply bg-black text-white font-semibold px-4 pt-1 pb-[6px] w-full rounded-xl;
}

